# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template
/project/MDK/build
/project/MDK/output
/project/MDK/HC32F002.uvguix.kepler
